<div class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded border2">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between align-items-center">
                <h1 id="Card-title" class="display-6 font-italic"></h1>
                <a id="Button-show-hidd" href="?page=Band" class="btn btn-primary btn-lg color2 ms-auto">Back</a>
                <!-- Added ms-auto class to move the button to the right -->
            </div>
        </div>
    </div>
</div>
