
    <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <ul>
            <li>
                <p>แนะนำ 4 วงดนตรีและผลงานเพลง. <a href="?page=Band"  class="text-dark font-weight-bold">อ่านต่อได้ที่นี่...</a></p> 
            </li>
            <li><p>แนวดนตรี Rock/Heavy Metal. <a href="?page=Home"  class="text-dark font-weight-bold">อ่านต่อได้ที่นี่...</a></p></li>  
        </ul>
    </div>
    <div class="p-4 bg-light rounded-3">
        <h4 class="font-italic">Metal Band</h4>
        <ol class="list-unstyled mb-2">
            <li><p><a href="?page=fir"  class="color1 somehover">Falling in Reverse</a></p> </li>
            <li><p><a href="?page=bmth"  class="color1 somehover">Bring Me the Horizon</a></p> </li>
            <li><p><a href="?page=act"  class="color1 somehover">Architects</a></p> </li>
            <li><p><a href="?page=bvb"  class="color1 somehover">Black Veil Brides</a></p> </li>
        </ol>
    </div>         
